@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Organization X</h1>
        <p class="lead">
            This program has full crud functionality,RCL and RBAC
        </p>
    </div>
</div>