@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">OrganizationX</h1>
        <p class="lead">Full crud ,RBCA and RLC</p>
    </div>
</div>